[submodule "C"]
	path = C
	url = ../SDF_C.git
[submodule "FORTRAN"]
	path = FORTRAN
	url = ../SDF_FORTRAN.git
[submodule "IDL"]
	path = IDL
	url = ../SDF_IDL.git
[submodule "Matlab"]
	path = Matlab
	url = ../SDF_Matlab.git
[submodule "VisIt"]
	path = VisIt
	url = ../SDF_VisIt.git
[submodule "utilities"]
	path = utilities
	url = ../SDF_utilities.git
[submodule "documentation"]
	path = documentation
	url = ../SDF_documentation.git
